* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(141, 141, 180);

}

.container {
  text-align: center;
}

.board {
  background-color: #b1b1b1;
  height: auto;
  overflow:hidden;
  display: flex;
  flex-direction: column;
}

.board-with-info-columns {
  display: flex;
}

.board-info-column {
  display: flex;
  flex-direction: column;
  width: 30px;
}

.board-info-column-left {
  border-right: 2px solid black;
}

.board-info-column-right {
  border-left: 2px solid black;
}

.board-info-column-box {
  height: 50px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.board-info-row {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.board-corner {
  height: 30px;
  width: 30px;
}

.top-corner {
 border-bottom: 2px solid black; 
}

.bottom-corner {
  border-top: 2px solid black; 
 }

 .right-corner {
  border-left: 2px solid black; 
 }

 .left-corner {
  border-right: 2px solid black; 
 }

.board-info-row-box {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.board-info-row-box-top {
  border-bottom: 2px solid black;
}

.board-info-row-box-bottom {
  border-top: 2px solid black;
}

.board-row-info {
  display: flex;
}

.board-row {
  display: flex;
  overflow: auto;
}

.board-button {
  height: 50px;
  width: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-white {
  background: #a89285;
}

.board-black {
  background: #263561;
}

.board-button.board-black:hover {
  background: #495c97;
}

.pawn {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.pawn.white {
  background-color: rgb(202, 202, 202);
}

.pawn.black {
  background-color: rgb(15, 15, 15);
}

.pink {
  background-color: pink;
}

.red {
  background-color: red;
}

.queen {
  border: 5px solid rgb(182, 156, 13);
}
